.container {
    width: 90%;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 60px;
    padding: 1rem;
}

#titulo-destaques {
    margin: 1rem 0;
}

.cards-destaque {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.card {
    height: 100%;
    width: 33%;
    background-color: #D8E3F2;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.texto-card {
    display: flex;
    flex-direction: column;
}